<div class="breakfast">
  <div class"images">
    <img class="img-circle" src={{image}} alt={{name}}>
    <img class="img" src={{image2}} alt={{name}}>
  </div>

  <h2>You've earned yourself a breakfast with {{name}}</h2>
  <div>The breakfast you'll be sharing: {{breakfast}}</div>
  <br>
  <button class="start-button">Reset</button>
</div>