<div class="breakfast">
  <div class"images">
    <img class="img-circle" src={{image}} alt={{name}}>
    
  </div>

  <h2>You've earned yourself a brunch with {{name}}!</h2>
  <div>The brunch you'll be sharing is: {{breakfast}}</div>
  <br>
    <img class="img-circle" src={{image2}} alt={{name}}>
    <br>
    <br>
   <button class="start-button"><a href="/start">TRY AGAIN?</a></button>
</div>